<h1>This is the list of students</h1>

<div>
  <% @students.each do |student| %>
    <div>
      <%= link_to "#{student.first_name + " " + student.last_name}", student_path(student) %>
    </div>
  <% end %>
</div>



<%# /#{student.id}><%= student.first_name + " " + student.last_name %>
